In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('CKD.csv')

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset= pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes',]]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [8]:
dependent= dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train_= sc.fit_transform(x_train)
X_test_= sc.transform(x_test)

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
param_grid={'criterion':['gini', 'entropy', 'log_loss'],'splitter':['best','random'],'max_features':[None,'auto','sqrt','log2']}
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.87740506 0.92740506 0.88231013 0.975      0.94243671 0.94737342
 0.89189873 0.94740506 0.875      0.90996835 0.95243671 0.94990506
 0.96746835 0.98246835 0.94721519 0.96496835        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': [None, 'auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [14]:
re=grid.cv_results_
re
print(re)
grid_predictions = grid.predict(X_test_)

{'mean_fit_time': array([0.0101932 , 0.01178513, 0.0123951 , 0.00839233, 0.0091929 ,
       0.00999765, 0.00899143, 0.00759697, 0.01279082, 0.00819106,
       0.01119647, 0.00739708, 0.00878997, 0.00799518, 0.0087954 ,
       0.00919528, 0.00919251, 0.00759602, 0.00979819, 0.00780072,
       0.00659676, 0.00759196, 0.00798807, 0.00679374]), 'std_fit_time': array([0.00271084, 0.00563517, 0.00224633, 0.00135558, 0.00263788,
       0.00275426, 0.00357097, 0.00048872, 0.00247863, 0.00172746,
       0.00444434, 0.00048889, 0.00074457, 0.00227906, 0.00132539,
       0.00159899, 0.00132651, 0.00174446, 0.00172066, 0.00116418,
       0.00135668, 0.00135386, 0.00140954, 0.00159763]), 'mean_score_time': array([0.00539808, 0.00420375, 0.00519533, 0.00439801, 0.00439901,
       0.00419645, 0.00419855, 0.00539861, 0.00520005, 0.00520043,
       0.00359712, 0.00620003, 0.00380049, 0.00359812, 0.00399957,
       0.00479841, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        ]), 'std_score_time': array([0.00387672, 0.00098514, 0.00263835, 0.00101968, 0.00101915,
       0.0009838 , 0.00074839, 0.00205822, 0.00392203, 0.00116848,
       0.00120504, 0.0027799 , 0.00146863, 0.0004899 , 0.0010972 ,
       0.00075018, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        ]), 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'log_loss',
                   'log_loss', 'log_loss', 'log_loss', 'log_loss',
                   'log_loss', 'log_loss', 'log_loss'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=[None, None, 'auto', 'auto', 'sqrt', 'sqrt', 'log2',
                   'log2', None, None, 'auto', 'auto', 'sqrt', 'sqrt',
                   'log2', 'log2', None, None, 'auto', 'auto', 'sqrt',
                   'sqrt', 'log2', 'log2'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_splitter': masked_array(data=['best', 'random', 'best', 'random', 'best', 'random',
                   'best', 'random', 'best', 'random', 'best', 'random',
                   'best', 'random', 'best', 'random', 'best', 'random',
                   'best', 'random', 'best', 'random', 'best', 'random'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'gini', 'max_features': None, 'splitter': 'best'}, {'criterion': 'gini', 'max_features': None, 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': None, 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': None, 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'random'}, {'criterion': 'log_loss', 'max_features': None, 'splitter': 'best'}, {'criterion': 'log_loss', 'max_features': None, 'splitter': 'random'}, {'criterion': 'log_loss', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'log_loss', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'log_loss', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'log_loss', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'log_loss', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'log_loss', 'max_features': 'log2', 'splitter': 'random'}], 'split0_test_score': array([0.525 , 0.775 , 0.5875, 0.9375, 0.8375, 0.85  , 0.8125, 0.8375,
       0.5125, 0.6125, 0.9125, 0.8625, 0.95  , 0.95  , 0.925 , 0.9125,
          nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan]), 'split1_test_score': array([0.95  , 0.9875, 0.9625, 0.975 , 0.9375, 0.9875, 0.9375, 0.975 ,
       0.9375, 0.9875, 0.9625, 0.975 , 0.9625, 1.    , 1.    , 0.9875,
          nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan]), 'split2_test_score': array([0.975 , 0.9875, 0.975 , 0.975 , 0.9625, 0.9625, 0.9875, 0.9625,
       0.9375, 0.975 , 0.95  , 0.95  , 0.975 , 0.975 , 0.9875, 0.95  ,
          nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan]), 'split3_test_score': array([0.975 , 0.925 , 0.9625, 0.9875, 1.    , 0.9875, 0.9625, 1.    ,
       0.9875, 0.9875, 0.9625, 1.    , 0.9625, 1.    , 0.9375, 0.9875,
          nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan]), 'split4_test_score': array([0.96202532, 0.96202532, 0.92405063, 1.        , 0.97468354,
       0.94936709, 0.75949367, 0.96202532, 1.        , 0.98734177,
       0.97468354, 0.96202532, 0.98734177, 0.98734177, 0.88607595,
       0.98734177,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan]), 'mean_test_score': array([0.87740506, 0.92740506, 0.88231013, 0.975     , 0.94243671,
       0.94737342, 0.89189873, 0.94740506, 0.875     , 0.90996835,
       0.95243671, 0.94990506, 0.96746835, 0.98246835, 0.94721519,
       0.96496835,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan]), 'std_test_score': array([0.176448  , 0.07956689, 0.14839645, 0.0209165 , 0.05619966,
       0.05086188, 0.08948617, 0.05665411, 0.18303005, 0.14881229,
       0.02143987, 0.04674572, 0.01269796, 0.01869993, 0.04179715,
       0.02997632,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan]), 'rank_test_score': array([15, 11, 14,  2, 10,  8, 13,  7, 16, 12,  5,  6,  3,  1,  9,  4, 17,
       18, 19, 20, 21, 22, 23, 24])}

C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [15]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [19]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[ 0 45]
 [ 0 75]]

In [20]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00        45
           1       0.62      1.00      0.77        75

    accuracy                           0.62       120
   macro avg       0.31      0.50      0.38       120
weighted avg       0.39      0.62      0.48       120